@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

* {
  /* Блочная модель */
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* Типографика */
  font-family: "Montserrat";
}

.container {
  /* Блочная модель */
  max-width: 1300px;
  margin: 0 auto;
}

header {
  /* Блочная модель */
  width: 100%;

  /* Оформление */
  background-color: #101820;
}

.header__navbar {
  /* Блочная модель */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.header__menu {
  /* Блочная модель */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__menu>ul {
  /* Блочная модель */
  display: flex;
  flex-direction: row;
  margin-right: 55px;
}

.header__menu>ul>li {
  /* Блочная модель */
  margin-right: 20px;

  /* Оформление */
  list-style-type: none;
}

.header__menu>ul>li>a {
  /* Блочная модель */
  padding: 6px 8px;

  /* Типографика */
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  color: #f6f6f6f6;

  /* Анимация */
  transition: all 500ms ease;
}

.header__menu-btn>button {
  /* Блочная модель */
  padding: 0 18px 0 16px;
  height: 40px;
  justify-content: center;
  align-items: center;

  /* Типографика */
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #FFFFFF;

  /* Оформление */
  border-radius: 20px;
  background-color: #e14a04;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border: none;

  /* Анимация */
  transition: all 500ms ease;
}

.header__menu>ul>li>a:hover {
  /* Типографика */
  color: #e14a04;

  /* Оформление */
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 3px #f6f6f6;
}

button:hover {
  /* Типографика */
  color: #e14a04;

  /* Оформление */
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 3px #f6f6f6;
}

.about {
  /* Оформление */
  background-image: url("../assets/img/about__bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about__wrapper-title {
  /* Блочная модель */
  padding-top: 30px;
  margin-bottom: 45px;

  /* Типографика */
  font-size: 76px;
  line-height: 100px;
  color: #f6f6f6;
  font-weight: 700;
}

.about__wrapper-title>span {
  /* Типографика */
  color: #e14a04;
}

hr {
  /* Блочная модель */
  max-width: 420px;
  margin-bottom: 50px;

  /* Оформление */
  border: 3px solid #e14a04;
}

.about__content-description {
  /* Блочная модель */
  margin-bottom: 25px;

  /* Типографика */
  font-size: 16px;
  color: #f6f6f6;
  font-weight: 400;
  line-height: 22px;
}

.about__items {
  /* Блочная модель */
  display: flex;
  flex-direction: column;
  width: 67%;
}

.about__items-content {
  /* Блочная модель */
  display: flex;
}

.about__item-description {
  /* Блочная модель */
  margin-bottom: 16px;

  /* Типографика */
  color: #f6f6f6;
  line-height: 1.5;
  font-size: 16px;
}

.about__items-description>p {
  /* Оформление */
  background-color: #e14a04;
}

.about__items-wrapper {
  /* Блочная модель */
  margin-right: 30px;
}

.about__item-description>span {
  /* Типографика */
  font-weight: 600;
}

.about__item-description {
  /* Блочная модель */
  padding-left: 5px;
}

.stocks {
  /* Блочная модель */
  padding: 70px 70px;

  /* Оформление */
  background-color: #e14a04;
}

.stocks__content-wrapper {
  /* Блочная модель */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
}

.stocks__content-title {
  /* Блочная модель */
  text-align: center;
  margin-bottom: 8px;

  /* Типографика */
  font-weight: 600;
  color: #f6f6f6;
  font-size: 20px;
}

.stocks__content-description {
  /* Блочная модель */
  margin-bottom: 40px;

  /* Типографика */
  color: #f6f6f6;
  font-size: 16px;
  line-height: 1.5;
}

.stocks__content-description>li>a {
  /* Типографика */
  color: #f6f6f6;
}

.stocks__content-btn>button {
  /* Блочная модель */
  display: flex;
  justify-content: center;
  padding: 0 36px;
  max-width: 170px;
  margin: 0 auto;

  /* Типографика */
  color: #e14a04;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 45px;
  text-align: center;

  /* Оформление */
  background: #f6f6f6;
  box-shadow: inset 0 0 0 3px #f6f6f6;
  border-radius: 30px;
  border: none;

  /* Анимация */
  transition: all 500ms ease;
}

.stocks__content-btn>button:hover {
  /* Типографика */
  color: #f6f6f6;

  /* Оформление */
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 3px #e14a04;
}

.rules {
  /* Оформление */
  background-image: url("../assets/img/rules__bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.rules__content {
  /* Блочная модель */
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.rules__content-title {
  /* Блочная модель */
  margin-bottom: 60px;

  /* Типографика */
  text-align: center;
}

.rules__content-items {
  /* Блочная модель */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.rules__content-wrapper {
  /* Блочная модель */
  display: flex;
  flex-direction: column;
  max-width: 318px;

  /* Типографика */
  text-align: center;
  align-items: center;
}

.rules__content-item {
  /* Блочная модель */
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;

  /* Оформление */
  border-radius: 50%;
  background-color: #e14a04;
}

.rules__content-title {
  /* Типографика */
  font-size: 62px;
  line-height: 100px;
}

.rules__content-btn>button {
  /* Блочная модель */
  display: flex;
  justify-content: center;
  padding: 8px;
  max-width: 130px;
  margin: 0 auto;
  margin-bottom: 40px;

  /* Типографика */
  color: #f6f6f6;
  font-weight: 500;
  font-size: 14px;
  text-align: center;

  /* Оформление */
  background: #e14a04;
  border-radius: 30px;
  border: none;

  /* Анимация */
  transition: all 500ms ease;
}

.rules__content-btn>button:hover {
  /* Типографика */
  color: #e14a04;

  /* Оформление */
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 3px #f6f6f6;
}

.gallery {
  background-color: #e14a04;
}

.gallery__content {
  max-width: 1300px;
  margin: 0 auto;
}

.gallery__content-title {
  font-size: 62px;
  color: #f6f6f6;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 50px;
}

.gallery__content-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.gallery__content-img>img {
  max-width: 307px;
}

.contacts {
  background-color: #101820;
}

.contacts__content {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.contacts__content-items {
  display: flex;
  flex-direction: column;
}

.contacts__content-title {
  color: #f6f6f6;
  font-size: 62px;
  margin-bottom: 15px;
}

.contacts__content-wrapper {
  display: flex;
  flex-direction: column;
}

.contacts__content-wrapper>img {
  max-width: 40px;
}

.contacts__content-icon {
  display: flex;
  align-items: center;
}

.contacts__content-description {
  color: #f6f6f6;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
}

.contacts__content-description:hover {
  text-decoration: underline;
  color: #e14a04;
}

.contacts__content-icon {
  margin-bottom: 20px;
}

.contacts__content-icon>img {
  margin-right: 16px;
}

.contacts__content-text {
  font-weight: 600;
  color: #f6f6f6;
  font-size: 20px;
}

.contacts__content-map>img {
  max-width: 760px;
}

.contacts__content-bottom {
  color: #f6f6f6;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  header {
    /* Блочная модель */
    padding: 0 15px;
    height: 100%;
  }

  section {
    /* Блочная модель */
    padding: 0 15px;
  }

  .header__menu,
  .header__menu-btn {
    /* Блочная модель */
    display: none;
  }

  .header__navbar {
    /* Блочная модель */
    justify-content: center;
  }

  .about__wrapper-title {
    /* Типографика */
    line-height: 50px;
    font-size: 30px;
  }

  .about__items {
    /* Блочная модель */
    width: 100%;
  }

  .about__items-content {
    /* Блочная модель */
    flex-direction: column;
  }

  .rules__content-items {
    /* Блочная модель */
    flex-wrap: wrap;
    justify-content: center;
  }

  .rules__content-wrapper {
    /* Блочная модель */
    margin-bottom: 45px;
  }
}